@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Loving sitters <span>take care of your pet</span></h1>
    <p class="lead">Our facility provides professional care-giving<br>in a clean, safe and home like environment for your pet!</p>
    <p><a href="https://localhost:44357/Booking/Create" class="btn btn-primary btn-lg btn-add">Book Today</a></p>
</div>

<div class="row row-add">
    <div class="col-md-4 col-add-1">
        <h2>Client</h2>
        <p>Click here to manage</p>
        <p><a class="btn btn-add btn-small" href="https://localhost:44357/Client/List">Click Me</a></p>
    </div>
    <div class="col-md-4 col-add">
        <h2>Pet</h2>
        <p>Click here to manage</p>
        <p><a class="btn btn-add btn-small" href="https://localhost:44357/Pet/List">Click Me</a></p>
    </div>
    <div class="col-md-4 col-add-2">
        <h2>Booking</h2>
        <p>Click here to manage</p>
        <p><a class="btn btn-add btn-small" href="https://localhost:44357/Booking/List">Click Me</a></p>
    </div>
</div>
